<nav class="navBar" [ngClass]="{ 'drop-light': drop_light, 'drop-blue': drop_blue, 'drop-orange': drop_orange }">
  <nav class="wrapper">

    <div routerLink="/" class="logo-container">
      <div class="logo">
        <!-- <div class="space-invader"></div><span class="curly">&#123;</span><span>J03Y</span>D1G1TAL<span class="curly">&#125;</span> -->
        <!-- <div class="space-invader"></div><span class="curly">&#123;</span><span>CODE</span>EXAMPLE<span class="curly">&#125;</span> -->
        <!-- <div class="space-invader"></div><span class="curly">&#123;</span><span>WORKING</span>CODE<span class="curly">&#125;</span> -->
        <div class="space-invader"></div><span class="curly">&#123;</span><span>CODE</span>DEMO<span class="curly">&#125;</span>
      </div>
    </div>

    <input type="checkbox" id="menu-toggle" (click)="ToggleHamburgerMenu()" />
    <label for="menu-toggle" id="label-toggle" class="label-toggle" [ngClass]="h_menu_open ? 'open' : 'closed'">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul>
      <li [routerLinkActive]="['active']" routerLink="/about" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/about">AB0UT</a>
      </li>
      <!-- <li [routerLinkActive]="['active']" routerLink="/about" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/about">LOGIN</a>
      </li> -->
      <li [routerLinkActive]="['active']" routerLink="/superheroes" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/superheroes">SUPERHEROES DEMO</a>
      </li>
      <li [routerLinkActive]="['active']" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" href="https://joeydigital.net">JOEYDIGITAL HOME</a>
      </li>
      <!-- <li [routerLinkActive]="['active']" routerLink="/about" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/about">AB0UT</a>
      </li>
      <li [routerLinkActive]="['active']" routerLink="/code" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/code">C0D3</a>
      </li>
      <li [routerLinkActive]="['active']" routerLink="/design/web" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/design">D3S1GN</a>
      </li>
      <li [routerLinkActive]="['active']" routerLink="/contact" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/contact">C0NTACT</a>
      </li>
      <li [routerLinkActive]="['active']" routerLink="/resume" (click)="closeHamburgerMenu();">
        <a [routerLinkActive]="['active']" routerLink="/resume">R3SUM3</a>
      </li> -->
    </ul>
  </nav>
</nav>
  