@font-face {
    font-family: 'Digital-7 Mono';
    src: url('Digital-7Mono.woff2') format('woff2'),
        url('Digital-7Mono.woff') format('woff'),
        url('Digital-7Mono.ttf') format('truetype'),
        url('Digital-7Mono.svg#Digital-7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

